<section class="section_options section_container">
    <h1 class="big_title">{{leftOptionsCount}} Options</h1>
    <div class="list_options list_items">
        <div *ngFor="let data of data.options">
            <div class="option_section item_section">
                <h1 class="options_title item_title"><span>{{ data.acronym }}<br>
                        <hr></span>
                    <a routerLink="/options/{{ data.slug }}">{{ data.title }}</a></h1>
                <br>
                <a routerLink="/options/{{ data.slug }}">
                    <button class="button_design button_right button_item" data-text="en savoir plus">en savoir
                        plus</button>
                </a>
            </div>
        </div>
    </div>
</section>
