<section class="section_options">
    <h1 class="big_title">Options</h1>
    <div class="list_options">
        <div *ngFor="let data of leftOptions">
            <div class="option_section">
                <h1 class="options_title"><span>{{ data.Acronyme }}<br>
                        <hr></span>
                    <a routerLink="/options/{{ data.id }}">{{ data.Nom }}</a></h1>
                <br>
                <a routerLink="specialites">
                    <button class="button_design button_right" data-text="en savoir plus">en savoir plus</button>
                </a>
            </div>
        </div>
    </div>
</section>