<section #total_page class="single_option_wrapper single_item_wrapper" *ngIf="data.options">
<div class="single_option_header single_item_header" *ngFor="let data of data.options">
<!--  <div class="back_to_parent">
        <a routerLink="/options">Toutes les options</a>
    </div> -->
        <div class="single_option_title single_item_title">
            <h1 class="single_title">{{data.acronym}}</h1>
            <div class="block_header_details">
                <section>
                    <button class="button_simple download" data-text="Télécharger le PDF">Télécharger le PDF</button>
                    <button class="button_simple copy_link" data-text="Copier le lien">Copier le lien</button>
                </section>
                <section>
                    <div class="single_option_description single_item_description">
                        <h2 class="sub_title">{{data.title}}</h2>
                        <markdown class="description" [innerHTML]="data.description"></markdown>
                    </div>
                </section>
            </div>
        </div>
        
    </div>
    <div>
    <div class="single_option_items single_item_topics" *ngFor="let data of data.options[0].detail">
        <section>
            <h3 class="single_items_title accordeon">{{data.title}}</h3>
           <markdown class="topics_text panel" [innerHTML]="data.descriptif"></markdown>
        </section>
    </div>
    </div>
    <!-- <div class="inscription">
        <a href="https://teleservices.ac-aix-marseille.fr/login/ct_logon_vk.jsp?CT_ORIG_URL=%2Fts&ct_orig_uri=%2Fts"
            target="blank">
            <button class="button_design button_right" data-text="je m'inscris">je m'inscris</button>
        </a>
    </div> -->

   <!--  <div class="internal_nav_container">
        <div class="internal_nav_content">
            <div class="internal_nav_button">back</div>
            <div class="internal_nav_button">next</div>
        </div>
    </div> -->
</section>