#main
    height: 100vh

.aside
    position: fixed
    width: 25%
    background-color: rgba(#000000, 0.3)
    height: 200vh

.main_content
    width: 75%
    margin: 0 0 0 25%
    padding: 20vh 3em
    box-sizing: border-box
    min-height: 200vh
    overflow: hidden
