$home: #2d2e29
$cav: #c87559
$hda: #d0c5b1
$theatre: #5e7e7d

$options: linear-gradient(125deg, rgba(208,105,43,1) 0%, rgba(170,8,99,1) 100%)
$specialites: linear-gradient(125deg, rgba(43,178,208,1) 0%,rgba(7,80,91,1) 100%)
