<section class="single_specialite_wrapper" *ngIf="data.specialite">
    <div class="single_specialite_header">
        <div class="single_specialite_title">
            <h1 class="single_title">{{data.specialite.Nom}}</h1>
            <br>
            <button class="button_design button_right" data-text="Télécharger le PDF">Télécharger le PDF</button>
            <br><br>
            <button class="button_design button_right" data-text="Copier le lien">Copier le lien</button>
        </div>
        <div class="single_specialite_description">
            <p class="description">We believe that using GraphQL should be easy and fun. One of the ways Apollo is
                designed for this is that if you can
                write your query in GraphiQL, it'll work with Apollo Client! Because it doesn't assume anything beyond
                the official
                GraphQL specification, Apollo works with every GraphQL server implementation, for every language.</p>
        </div>
    </div>
    <div class="single_specialite_items">
        <section>
            <h3>Contenus & programmes</h3>
            <hr>
        </section>
        <section>
            <h3>Formations post-bac, écoles, universités</h3>
            <hr>
        </section>
        <section>
            <h3>Quelles professions ?</h3>
            <hr>
        </section>
        <section>
            <h3>Témoignages</h3>
            <hr>
        </section>
    </div>
</section>