/* You can add global styles to this file, and also import other style files */
@import 'styling/settings.sass'

@include font('sofia', '/assets/fonts/sofi_pro/SofiaPro')
@include font('sofia_light', '/assets/fonts/sofi_pro/SofiaPro-Light')
@include font('sofia_bold', '/assets/fonts/sofi_pro/SofiaPro-Bold')
@include font('sofia_black', '/assets/fonts/sofi_pro/SofiaPro-Black')

@include font('icons', '/assets/fonts/icons/font/icons')

body
    font-family: $ligth
    margin: 0
    padding: 0
    background: #ffffff
    //background-color: lighten($home, 30 )
    transition: background 2s $easeOutExpo
    .header
        background-color: #ffffff
        transition: background-color 1s $easeOutExpo

body[data-name="options"]
    background: $options
    transition: background 1s $easeOutExpo
    .header
        background-color: #ffffff
        transition: background-color 2s $easeOutExpo

body[data-name="recherche"]
    background: #222222
    transition: background 2s $easeOutExpo

body[data-name="specialites"]
    background: $specialites
    transition: background 2s $easeOutExpo
    .header
        background-color: #ffffff
        transition: background-color 1s $easeOutExpo

body[data-name="theatre"]
    background-color: $theatre
    transition: background-color 1s $easeOutExpo
    .header
        background-color: $theatre
        transition: background-color 1s $easeOutExpo

hr
    border: none
    border-bottom: 1px solid #000000
    &.white_hr
        border-bottom: 1px solid rgba(#ffffff, 0.2 )

.white
    color: #ffffff

.white_hr_fat
    border-bottom: 3px solid rgba(#ffffff, 0.75)

a
    color: inherit
    text-decoration: none
    font-weight: 900
    &:hover
        text-decoration: underline

h1, h2, h3, h4, h5
    font-weight: normal

.opt
    font-weight: 300
    font-size: 1.5em
    padding: 1em 0
    display: block
    @media #{$small}
        padding: 0.5em 0
        font-size: 0.9em

.sub_title
    //font-style: italic
    font-weight: 700
    font-size: 3em
    line-height: 1.2em
    position: relative
    overflow: hidden
    @media #{$small}
        font-size: 1.5em
    &::after
        content: ""
        height: 1px
        width: 100%
        position: absolute
        bottom: 10px
        background-color: rgba(#000000, 0.5)
        margin-left: 25px

.section
    min-height: 100vh
    width: 100%

.section_wrapper
    width: 70%
    margin: auto
    padding-top: 30vh

.aside
    position: fixed
    width: 25%
    background-color: rgba(#000000, 0.3)
    min-height: 100vh
    left: 0
    top: 0
    bottom: 0
    @media #{$small}
        display: none
#main
    height: 100vh

.main_content
    width: 100%
    //margin: 0 0 0 25%
    //padding: 20vh 3em
    box-sizing: border-box
    min-height: 200vh
    overflow: hidden
    @media #{$small}
        margin: 0
        width: 100%
        //padding: 20vh 1em

/** -------------------------------------------------------------------------------------------- **/
/** section options & specialites **/

.section_container
    padding-top: 30vh
    width: 70%
    margin: auto
    @media #{$small,$medium_only}
        padding-top: 20vh
        width: 90%

.big_title
    font: 5em $black
    margin: 0
    padding-bottom: 20vh
    @media #{$small}
        font-size: 2.5em

.list_items
    display: grid
    grid-template-columns: repeat(2, minmax(0, 1fr))
    grid-gap: 6em
    @media #{$small,$medium_only}
        grid-template-columns: repeat(1, minmax(0, 1fr))
        grid-gap: 2em

.item_section
    margin-bottom: 20%
    @media #{$small,$medium_only}
        margin-bottom: 0%
.item_title
    font: 2.5em $reg
    margin: 0
    font-weight: normal
    letter-spacing: -1px
    span
        font: 0.4em $ligth
        opacity: 0.5
    @media #{$small}
        font-size: 1.5em

.button_item
    @media #{$small,$medium_only}
        display: none

/** single options --- single specialites **/

.single_item_wrapper
    padding-top: 40vh
    width: 80%
    margin: auto
    @media #{$small, $medium_only}
        width: 90%
        padding-top: 20vh

.single_item_header
    display: grid
    grid-template-columns: repeat(2, minmax(0, 1fr))
    gap: 4em
    @media #{$small, $medium_only}
        grid-template-columns: repeat(1, minmax(0, 1fr))
        gap: 2em

.single_title
    font: 4em $black
    line-height: 0.9em
    letter-spacing: -1px
    margin: 0
    @media #{$small}
        font-size: 2.5em

.description
    font-size: 1.5em
    margin: 0
    @media #{$small, $medium_only}
        font-size: 1em

.single_item_topics
    padding-top: 20vh
    width: 70%
    float: right
    padding-bottom: 60vh
    section
        margin: 2em auto
    @media #{$small, $medium_only}
        width: 100%
        padding-top: 10vh
