/* You can add global styles to this file, and also import other style files */
@import 'styling/settings.sass'

@include font('sofia', '/assets/fonts/sofi_pro/SofiaPro')
@include font('sofia_light', '/assets/fonts/sofi_pro/SofiaPro-Light')
@include font('sofia_bold', '/assets/fonts/sofi_pro/SofiaPro-Bold')
@include font('sofia_black', '/assets/fonts/sofi_pro/SofiaPro-Black')

body
    font-family: $ligth
    margin: 0
    padding: 0
    background: #ffffff
    //background-color: lighten($home, 30 )
    transition: background 2s $easeOutExpo
    .header
        background-color: #ffffff
        transition: background-color 1s $easeOutExpo

body[data-name="options"]
    background: $options
    transition: background 1s $easeOutExpo
    .header
        background-color: #ffffff
        transition: background-color 2s $easeOutExpo

body[data-name="specialites"]
    background: $specialites
    transition: background 2s $easeOutExpo
    .header
        background-color: #ffffff
        transition: background-color 1s $easeOutExpo

body[data-name="theatre"]
    background-color: $theatre
    transition: background-color 1s $easeOutExpo
    .header
        background-color: $theatre
        transition: background-color 1s $easeOutExpo

hr
    border: none
    border-bottom: 1px solid #000000
a
    color: inherit
    text-decoration: none
    font-weight: 900
    &:hover
        text-decoration: underline

.big_title
    //font-style: italic
    font-weight: 700
    font: 5em $bold
    line-height: 1em
    margin-bottom: 0
    span
        font-style: normal
        font-weight: 900
        font: 0.5em $reg
    @media #{$small}
        font-size: 2.5em
.opt
    font-weight: 300
    font-size: 1.5em
    padding: 1em 0
    display: block
    @media #{$small}
        padding: 0.5em 0
        font-size: 0.9em
.sub_title
    //font-style: italic
    font-weight: 700
    font-size: 3em
    line-height: 1.2em
    position: relative
    overflow: hidden
    @media #{$small}
        font-size: 1.5em
    &::after
        content: ""
        height: 1px
        width: 100%
        position: absolute
        bottom: 10px
        background-color: rgba(#000000, 0.5)
        margin-left: 25px

.section
    min-height: 100vh
    width: 100%

.section_wrapper
    width: 70%
    margin: auto
    padding-top: 25vh

.aside
    position: fixed
    width: 25%
    background-color: rgba(#000000, 0.3)
    min-height: 100vh
    left: 0
    top: 0
    bottom: 0
    @media #{$small}
        display: none
#main
    height: 100vh

.main_content
    width: 100%
    //margin: 0 0 0 25%
    //padding: 20vh 3em
    box-sizing: border-box
    min-height: 200vh
    overflow: hidden
    @media #{$small}
        margin: 0
        width: 100%
        //padding: 20vh 1em
