<section class="section search_container">
    <div class="section_wrapper">

        <input id="search" type="text" placeholder="Recherche" class="search_input" value="{{search}}"
            (keydown.enter)="getValue($event.preventDefault())">
        <br>
        <label class="label_search" for="search">Rechercher un métier, une section, une formation etc.</label>
    </div>
    <div *ngIf="loadComponent">
        <app-search-results [search]="search"></app-search-results>
    </div>
</section>