@import '../../styling/settings'

.big_title.search
    color: #ffffff

.search_term
    font-family: $bold
    font-style: italic
    font-size: inherit
    //color: #db0000
    font-family: $ligth
    &::after, &::before
        //content: '"'

.white
    color: #ffffff

.white_hr_fat
    border-bottom: 3px solid rgba(#ffffff, 0.75)
