@import '../../styling/settings'

.home_header
    padding-bottom: 7vh

.home_title
    font-variant: normal
    margin: 0
    font: 8.5em $black
    line-height: 0.9em
    letter-spacing: -1px
    @media #{$small}
        font: 5em $black
    span
        opacity: 0.2
        font: 1em $black
.sections_container
    display: grid
    grid-template-columns: repeat(2, minmax(0, 1fr))
    grid-gap: 1.5em
    @media #{$small}
        grid-template-columns: repeat(1, minmax(0, 1fr))
.section_sub
    flex-grow: 1

#map
    height: 100vh

hr.hr_title
    width: 75px
    border: none
    border-bottom: 8px solid #000000
    opacity: 1
    margin: 1em 0
    border-color: #000000 !important

span.map
    &::before
        content: "\e80e"
        font: 1em $icons
        padding-right: 7px
        opacity: 0.5
